@font-face {
  font-family: 'ZenDots';
  src: url('assets/fonts/ZenDots-Regular.ttf');

  /* font-family: 'PressStart2P';
  src: url('assets/fonts/PressStart2P-Regular.ttf'); */
}

body {
  font-family: 'ZenDots';
  /* font-family: 'PressStart2P'; */
  color: #fff;
  background: url('assets/images/background3.jpg');
}

canvas {
  background: linear-gradient(-45deg, #070f10, #12222f);
}

img {
  display: none;
}

.main-container {
  width: 700px;
  margin: 40px auto 0 auto;
}
